
.container-fluid{
    height: 55px;
    padding: 10px;
    background-color: blue;
}
.navbar{
    padding-top: 0px;
}
h4{
    color: white;
}
ul li a{
    text-decoration: none;  
    display: inline;
    margin-right: 10px;
}
li a{
    color: white;  
}
/* .nav{
    margin-right: 60px; 
} */

footer .container-fluid{
    background-color:  blue;
    height: 50px;
    margin-bottom: 0px;
    margin-top: 30px;
    
}